@model Doctor
<div class="container-fluid">
    <div class="d-flex flex-column p-4 justify-content-center align-items-center">
        <h3>
            @(Model.UserInfo.Name)
        </h3>
        <h4>@__.GetKey(Model.Clinic.Name)</h4>
    </div>
    <div class="row">
        <div class="col-md-3 mb-md-0 mb-4 d-flex justify-content-center">
            <img class="w-100 h-100" style="object-fit: scale-down; max-width: 200px" src="@("/uploads/" + Model.UserInfo.ImageName)"/>
        </div>
        <div class="col-md-9">
            <label for="datePicker">@__.GetKey("PleaseEnterDate")</label>
            <input type="date" id="datePicker"/>
            <div id="timesContainer" class="w-100 d-flex justify-content-center flex-wrap">
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/MakeAppointment.js"></script>
}
