@{
    List<Hospital> hospitals = (List<Hospital>)ViewBag.hospitals;
    bool created = TempData["created"] != null ? (bool)TempData["created"] : false;
    bool error = TempData["error"] != null ? (bool)TempData["error"] : false;
}
@if (created)
{
    <div class="alert alert-success col-md-offset-3">
        <strong>Success!</strong> Speciality created.
    </div>
}
else if (error)
{
    <div class="alert alert-danger col-md-offset-3">
        <strong>Failed!</strong> nothing was created.
    </div>
}
<form method="post" asp-controller="Admin" asp-action="CreateSpeciality" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label" for="name">Name</label>
        <div class="col-md-9">
            <input type="text" id="name" name="name" class="form-control">
            <span class="help-block">Please enter speciality name</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="hospital">Babrer Shop</label>
        <div class="col-md-9">
            <select id="hospital" name="hospitals" size="4" multiple class="form-control" size="1">
                @foreach (Hospital hospital in hospitals)
                {
                    <option value="@hospital.Id">@hospital.Name</option>
                }
            </select>
            <span class="help-block">Please enter shop name</span>
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 70px; width: 70px; top: -16.5938px; left: 11.875px;"></span>Submit</button>
        </div>
    </div>
</form>